# Ignorer tout sauf ce fichier
*
!.gitignore

# Placez vos modules Odoo dans ce dossier pour qu'ils soient montés dans le conteneur
# Un module est identifié par la présence d'un fichier __manifest__.py
# Exemple : mon-module/__manifest__.py
